extends embedded.jade

block content
    header.jumbotron
        div.span8.offset1
            h2 Recent Orders
            - if (typeof(orders[0]) == 'undefined')
                table.table.table-striped
                    tr
                        td
                            em  Glups, you don't have any orders yet!
            - else 
                table.table.table-striped
                    thead
                        tr
                            th Order
                            th Placed by
                            th Payment status
                            th Fulfillment
                            th Total
                    - each order in orders
                        tr
                            td
                                a(href="##{order.id}", target="blank")= order.name
                            td= order.billing_address.name
                            td
                                - if( order.financial_status  == 'paid' )
                                    span.label.label-success Paid
                                - else if(order.financial_status  == 'pending')
                                    span.label.label-warning Pending
                                - else
                                    span.label.label-important = other financial status
                            td
                                - if(!order.fulfillment_status)
                                    span.label Not Fulfilled
                                - else 
                                    span.label.label-success Fulfilled
                            td #{order.total_price} #{order.currency}
            br
            h2 New Products
                div.accordion#accordion     
                - if (typeof(products[0]) == 'undefined')
                    div.accordion-group
                        div.accordion-heading
                            em Glups, you don't have any product to be shown!
                - else
                    - each product, i in products
                        div.accordion-group
                            div.accordion-heading
                            a.accordion-toggle(data-toggle="collapse", data-parent="#accordion", href="##{product.id}")
                                |#{product.title} 
                                span.pull-right.muted #{product.price_range}          
                        div(id="#{product.id}", class="accordion-body collapse")
                            div.accordion-inner
                            - if(product.images)
                                - if(product.images.first)
                                    div.polaroid
                                    a(href="#modal-#{product.id}", data-toggle="modal")
                                            img(src="#{product.images.first.medium}")
    
                            p
                                strong Type: 
                                | #{product.product_type}
    
                            p !{product.body_html}
                            
                            br
    
                            div(id="#modal-#{product.id}", class="modal hide fade", style="display:none")
                                div.modal-header
                                    a.close(data-dismiss="modal") ×
                                    h3=product.title
                                div.modal-body
         
    
